@model Condominio.ViewModels.RegistroViewModel

@{
    Layout = null;
    ViewData["title"] = "Cadastro Morador";
}
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Novo Morador</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet"/>
        
    </environment>
</head>
<body>
    <environment include="Development"></environment>
    <environment exclude="Development"></environment>

</body>
</html>
