<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Condominio</title>

    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Condominio.styles.css" asp-append-version="true" />*@

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <nav class="fundo">
            <div class="nav-wrapper navbar-fixed">
                <ul id="nav-moblie" class="right hide-on-med-and-down">
                    <li class="nav-item"><a class="nav-link " asp-controller="Usuarios" asp-action="MinhasInformacoes"><i class="material-icons left">account_circle</i>Meus dados</a></li>
                    <li class="nav-item"><partial name="_logout" /></li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="conteudo-principal">
        <div class="body-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Condominio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </environment>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </environment>


</body>
</html>
