.corpo {
    background-color: #1c4c36;
    width: 100%;
    height: 100%;
}
.registroform {
    position: absolute;
    width: 40%;
    height: 1050px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -300px;
    background-color: #f1f8e9;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.loginform {
    position: absolute;
    width: 40%;
    height: 550px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -300px;
    background-color: #f1f8e9;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.greenIcon {
    color: #1c4c36;
}

.fundo {
    background-color: #1c4c36;
}

.botao {
    /*definimos a largura do box*/
    width: 150px;
    /* definimos a altura do box */
    height: 50px;
    /* definimos a cor de fundo do box */
    background-color: #1C4E21;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 30px;
    color: white;
}





